body {
  background-color: #ffffff;
  color: #29aecc;
  font-family: 'Whitney SSm A Heavy';
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
}
h1, h2, h3 {
  color: #29aecc;
  font-family: 'Whitney SSm B',Helvetica,Arial;
}
h1{
  font-size: ???;
  line-height: ???;
}
/* ... */
a {
  color: ???;
  text-decoration: ???;
}
a:hover {
  color: #29aecc;
}

#header h1 {
  background-image: 
  background-size:
  padding
  color
  
  }

  #header a {
  background-image: 
  background-size:
  padding
  color

  #newsletter

  #footer
  
